
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;   
    background-color: #f9fffa; 
    overflow: hidden;
    font-family: sans-serif;
}


canvas {
    background: url('./src/game/background.png') no-repeat center center;
    background-size: cover;
    display: block;

}

#hud {
    position: absolute;
    left: 30%;
    top: 20%;
    transform: translate(-50%, -280%); /* pozicija ostvarenih poena */
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px 2px black;
    pointer-events: none;
}

